<div class="header-top">
  <div class="triangle-top"></div>
  <div class="triangle-right"></div>
</div>

<div class="rectangle"></div>



<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1))">
  <div class="banner-container">
    <img class="banner-picture" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/c90.210.540.540a/s160x160/38931975_10156198134804821_1891757326646378496_n.jpg?_nc_cat=104&_nc_oc=AQn41JJpIoPxHrGlYS4fz9aKb9DPGzBvJsw3JkHQ5vbtmRw_hbXJJ2db5cAlqlBm6CM&_nc_ht=scontent-arn2-1.xx&oh=614a73cd511129800eec2c97006319ce&oe=5E10B722" alt="picture-of-marie">
  </div>
  <div class="banner-card-info">
    <h1>Marie Hvam</h1>
    <p>FullStack Developer </p>
  </div>
</div>


<div container=about-me-card>
  <div class=row>
    <ul>
      <li>About me</li>
      <li>Likes</li>
    </ul>
  </div>
</div>
</div> -->
