<div class="header-top">
  <div class="grey-rectangle">
    <div container="rectangle-text d-flex">
      <h1>Professional Skills</h1>
    </div>
  </div>
  <div class="pink-triangle-top"></div>
  <div class="blue-triangle-right">
    <img class="avatar-large" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/38931975_10156198134804821_1891757326646378496_n.jpg?_nc_cat=104&_nc_oc=AQmJP7-y65fCKe95yz8tCnhM7SSP1fdgeUD8mUKLTIVjsU7r1fmYyFCDI_iE0kX2IXY&_nc_ht=scontent-arn2-1.xx&oh=a8115c29c3fce6f448faf8402bee49ba&oe=5E3D5B94" alt="avatar-large">
</div>






















