.banner {
background-color: #b6e6bd;
background-size: cover;
background-position: center;
position: relative;
.banner-container {
  height: 300px;
}
}

.banner-picture {
position: absolute;
left: 800px;
top: 70px;
}

.banner-card-info {
  position: absolute;
  left: 1200px;
  top: 70px;
}




