.header-top {
  position: fixed;
}
.pink-triangle-top {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 2000px solid #eb7070;
  border-bottom: 200px solid transparent;
  padding: 20px 0;
  position: absolute;
}

.blue-triangle-right {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-left: 705px solid #202060;
  border-bottom: 210px solid transparent;
  position: absolute;
  top: 40px;
}

.grey-rectangle {
  height: 200vh;
  width: 30vw;
  background-color: #dadada;
  display: flex;
  }
