.header-top {
  position: fixed;
}
.pink-triangle-top {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 2000px solid #eb7070;
  border-bottom: 200px solid transparent;
  padding: 20px 0;
}

.blue-triangle-right {
  border-top: 70px solid transparent;
  border-left: 705px solid #202060;
  border-bottom: 200px solid transparent;
  position: absolute;
  top: 40px;
}

.grey-rectangle {
  height: 90vh;
  width: 40vw;
  background-color: #dadada;
  position: absolute;
  top: 55%;
  left: -7%;
  z-index: 60;
  }
